/*Media Queries*/
/* 950px(genel) 740px(header değişmiyo) 550px (genel)*/

:root {
    --divider-color: rgb(34, 34, 34);
}


/* reset */

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

/* Font */

@font-face {
    font-family: Netflix-sans;
    /* src: url("font/NetflixSans_W_Th.woff2"); */
    src: url("font/ttf/NetflixSans-Regular.ttf");
}

@font-face {
    font-family: Netflix-sans-thin;
    /* src: url("font/NetflixSans_W_Th.woff2"); */
    src: url("font/ttf/NetflixSans-Thin.ttf");
}

/* Font for Form elements*/
input, textarea, button, select {
    font-family: inherit;
}

body {
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    font-family: 'Netflix-sans', 'Helvetica', sans-serif;
}

.margin-left-right {
    margin-left: 56px;
    margin-right: 56px;
}



header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding-top: 8px;
    margin-top: 20px;
    font-family: "Netflix-sans-thin", sans-serif;
}

.header-logo {
    max-height: 100%;
}

/* reset select */

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
}

.select-wrapper {
    display: flex;
    width: 120px;
    color: white;
    border: 0.5px solid white;
    border-radius: 3px;
    align-items: center;
}

.select-wrapper select {

    color: inherit;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
}

/* select before icon */

.select-wrapper:before {
    content: "";
    display: inline-block;
    background: url("img/world-icon.png") no-repeat;
    transform: scale(0.5);
    /* transform-origin: 50% 65%; */
    width: 31px;
    height: 31px;
}

.select-wrapper:after {
    content: "";
    display: inline-block;
    background: url("img/arrow-down.png") no-repeat;
    transform: scale(0.5);
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.header-right {
    display: flex;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 15px;
}

.header-right * {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer;
}

.header-right *:focus {
    outline: none;
}

.select-language {
    font-weight: inherit;
    letter-spacing: inherit;
}

.btn-signin {
    border: none;
    background-color: #E50914;
    color: white;
    margin-left: 1.5rem;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.showcase {
    display: block;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.showcase h1 {
    font-size: 50px;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    line-height: 55px;
}

.showcase h2 {
    font-size: 26px;
    font-weight: 400;
    max-width: 640px;
    margin: auto;
    line-height: 55px;
}

.showcase h3 {
    font-size: 19.2px;
    font-weight: 400;
    margin: auto;
    line-height: 55px;
}

/* E-mail input */

.email-input-wrapper {
    margin: auto;
}

.email-input-box {
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.email-input-box input {
    box-sizing: border-box;
    min-width: 450px;
    height: 60px;
    padding-left: 13px;
    padding-top: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.email-input-box input:focus {
    border: 1px solid #0071EB ;
}

.email-input-box label {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    font-size: 16px;
    font-weight: 300;
    transition: transform .1s ease, font-size .2s;
}

.email-input-box input:focus + label {
    transform: translateY(-1.8em);
    font-size: 13px;
    font-weight: 600;

}

.email-input-box input:not(:focus):not(:placeholder-shown)+label {
    transform: translateY(-1.8em);
    font-size: 13px;
}

.email-input-box button {
    font-size: 26px;
    background-color: #F40612;
    color: white;
    border: none;
    width: 180px;
    border-radius: 1px;
}

.email-input-box button::after {
    content: "";
    display: inline-block;
    background: url("img/arrow-right.png") no-repeat;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    margin-left: 10px;
}

.upface {
    /* height: 100vh; */
    height: 707px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/upface-background.png");
    overflow: hidden;
    border-bottom: 8px solid var(--divider-color);
}

/* story-cards */

.story-cards {
    background-color: #000;
    
}


.story-card-container {
    border-bottom: 8px solid var(--divider-color);
    padding: 70px 45px;
    max-height: 465px;
}

.story-card{
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
}

.story-card-image-container{
    display: inline-block i !important;
    position: relative;
}


.story-card-title{
    font-size: 3.125rem;
    max-width: 420px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 .4em;
    line-height: 1.1em;
}

.story-card-subtitle{
    font-size: 1.625rem;
    max-width: 500px;
    margin: .75em 0 .25em;
    font-weight: 400;
    line-height: normal;
}

.story-card-image {
    transform: scale(.8);
    transform-origin: 50% 0;
    object-position: right center;
    position: relative;
}

.story-card-animation {
    position: absolute;
    left: 12.2%;
    top: -6%;
    z-index: 1;
    transform: scale(0.78)
}

.story-card2-animation {
    position: absolute;
    display: flex;
    align-items: center;
    /* top: 0; */
    bottom: 25%;
    left: 25%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: .75em;
    width: 50%;
    background-color: #000;
    padding-right: 10px;
    padding-left: 5px;
    /* margin: 0 auto !important; */
}


.story-card2-animation::after {
    content: "";
    display: inline-block;
    background: url("img/download-icon.gif") center center no-repeat;
    transform: scale(.5);
    width: 3em;
    height: 3em;
    margin-left: auto;
}

.story-card2-animation > * {
    margin: 8px;
}


.story-card-animation-image img{
    width: 50px;
    height: 75px;
    
}