/*Media Queries*/

/* 950px(genel) 740px(header değişmiyo) 550px (genel)*/

:root {
    --divider-color: rgb(34, 34, 34);
}

/* reset */

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

/* Font */

@font-face {
    font-family: Netflix-sans;
    /* src: url("font/NetflixSans_W_Th.woff2"); */
    src: url("font/ttf/NetflixSans-Regular.ttf");
}

@font-face {
    font-family: Netflix-sans-thin;
    /* src: url("font/NetflixSans_W_Th.woff2"); */
    src: url("font/ttf/NetflixSans-Thin.ttf");
}

/* Font for Form elements*/

input, textarea, button, select {
    font-family: inherit;
}

body {
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    font-family: 'Netflix-sans', 'Helvetica', sans-serif;
}

/* container */
.container {
    background-color: black;
}

.margin-left-right {
    margin-left: 56px;
    margin-right: 56px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding-top: 8px;
    margin-top: 20px;
    font-family: "Netflix-sans-thin", sans-serif;
}

.header-logo {
    max-height: 100%;
}

/* reset select */

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
}

.select-wrapper {
    display: inline-flex;
    color: white;
    border: 0.5px solid rgb(170, 170, 170);
    border-radius: 3px;
    outline: none;
    align-items: center;
    justify-content: left;
}

.select-wrapper select {
    color: inherit;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
}

.select-wrapper select option {
    color: black;
    padding: 5px;
    margin: 5px;
}

/* select before icon */

.select-wrapper:before {
    content: "";
    display: inline-block;
    background: url("img/world-icon.png") no-repeat;
    background-size: cover;
    /* transform: scale(0.5); */
    /* transform-origin: 50% 65%; */
    width: 15px;
    height: 15px;
    margin: 0 5px 0;
}

.select-wrapper:after {
    content: "";
    display: inline-block;
    background: url("img/arrow-down.png") center center no-repeat;
    transform: scale(0.4);
    transform-origin: 50% 50%;
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 14px;
}

.header-right {
    display: flex;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 15px;
}

.header-right * {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer;
}

.header-right *:focus {
    outline: none;
}

.select-language {
    font-weight: inherit;
    letter-spacing: inherit;
}

.btn-signin {
    border: none;
    background-color: #E50914;
    color: white;
    margin-left: 1.5rem;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.showcase {
    display: block;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.showcase h1 {
    font-size: 50px;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    line-height: 55px;
}

.showcase h2 {
    font-size: 26px;
    font-weight: 400;
    max-width: 640px;
    margin: auto;
    line-height: 55px;
}

.showcase h3 {
    font-size: 19.2px;
    font-weight: 400;
    margin: auto;
    line-height: 55px;
}

/* E-mail input */

.email-input-wrapper {
    margin: auto;
    color: white;
    text-align: center;
}

.email-input-box {
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.email-input-box input {
    box-sizing: border-box;
    min-width: 450px;
    height: 60px;
    padding-left: 13px;
    padding-top: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.email-input-box input:focus {
    border: 1px solid #0071EB;
}

.email-input-box label {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    font-size: 16px;
    font-weight: 300;
    transition: transform .05s ease, font-size .2s;
}

.email-input-box input:focus+label {
    transform: translateY(-1.8em);
    font-size: 13px;
    font-weight: 600;
}

.email-input-box input:not(:focus):not(:placeholder-shown)+label {
    transform: translateY(-1.8em);
    font-size: 13px;
}

.email-input-box button {
    font-size: 26px;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    width: 180px;
    border-radius: 0 2px 2px 0;
    outline: none;
}

.email-input-box button:hover {
    background-color: rgb(244, 6, 18);
}

.email-input-box button::after {
    content: "";
    display: inline-block;
    background: url("img/arrow-right.png") no-repeat;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    margin-left: 10px;
}

.upface {
    /* height: 100vh; */
    height: 707px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/upface-background.png") center center;
    overflow: hidden;
    border-bottom: 8px solid var(--divider-color);
}

/* story-cards */

.story-cards {
    background-color: #000;
}

.story-card-container {
    border-bottom: 8px solid var(--divider-color);
    padding: 70px 45px;
    max-height: 465px;
}

.story-card {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
}

.story-card-image-container {
    display: inline-flex;
    justify-content: center;
    position: relative;
    min-width: 500px;
    background: url("img/storycard3.m4v");
}

.story-card-image {
    transform: scale(.8);
    transform-origin: 50% 0;
    position: relative;
}

.story-card-text {
    margin-top: 20px;
}

.story-card-title {
    font-size: 3.125rem;
    max-width: 420px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 .4em;
    line-height: 1.1em;
}

.story-card-subtitle {
    font-size: 1.625rem;
    max-width: 500px;
    margin: .75em 0 .25em;
    font-weight: 400;
    line-height: normal;
}

.story-card-animation {
    position: absolute;
    left: 10.8%;
    top: -6%;
    z-index: 1;
    transform: scale(0.78)
}

.story-card2-animation {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: .75em;
    width: 67%;
    background-color: #000;
    padding-right: 10px;
    padding-left: 5px;
}

.story-card2-animation::after {
    content: "";
    display: inline-block;
    background: url("img/download-icon.gif") center center no-repeat;
    transform: scale(.5);
    width: 3em;
    height: 3em;
    margin-left: auto;
}

.story-card2-animation>* {
    margin: 8px;
}

.story-card-animation-image img {
    width: 50px;
    height: 75px;
}

.text-1 {
    color: #0071EB;
    font-size: 14.4px;
    margin-top: 4px;
}

/* story-card3 */

.story-card3-animation {
    position: absolute;
    transform: scale(.6);
    background-color: red;
}

/* faq */

.faq-container {
    color: white;
    text-align: center;
    font-size: 3.125rem;
    /* margin-top: 75px; */
    padding: 70px 0;
    font-weight: bold;
    border-bottom: 8px solid var(--divider-color);

}

.faq-wrapper {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 1.2em;
}

.faq-list {
    max-width: 815px;
    display: inline-block;
}

.faq-list-item {
    color: white;
    margin-bottom: 8px;
}

.faq-answer {
    font-size: 26px;
    font-weight: normal;
    background-color: #303030;
    text-align: left;
    line-height: normal;
    margin-top: 1px;
}

.faq-answer.closed {
    height: 0px;
    overflow: hidden;
    transition: max-height .25s cubic-bezier(.5, 0, .1, 1);
}

.faq-answer.opened {
    display: block;
    max-height: 1200px;
}

.faq-list-item button {
    border: none;
    outline: none;
    background-color: #303030;
    color: inherit;
    width: 100%;
    font-size: 1.625rem;
    font-weight: 400;
    padding: .8em 1.3em .8em 1.2em;
    text-align: left;
    display: flex;
    /* for after */
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.faq-list-item button::after {
    content: "";
    display: inline-block;
    background: url("img/plus-icon.png") center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

/* email bottom */

.email-input-container {
    text-align: center;
    color: white;
    font-size: 1.2rem;

}

.email-input-container h3 {
    padding-bottom: 20px;
    font-weight: normal;
}

/* footer */

.footer-container .site-footer {
    max-width: 1000px;
    margin: 0 auto;
    color: #757575;
    padding: 70px 45px 40px;
    font-size: 16px;
}

.site-footer a{
    color: inherit;
    text-decoration: none;
    font-size: 13px;
}

.site-footer a:hover{
    text-decoration: underline;
}

.site-footer ul {
    column-count: 4;
    margin-top: 30px;
}

.site-footer ul li {
    margin-bottom: 16px;
}

.lang-selection-container {
    height: 53px;
}

.lang-selection-container *{
    height: 100%;
    outline: none;
}

.footer-country {
    font-size: 13px;
    margin-top: 24px;
}

.lang-selection-container .select-wrapper {
    color: rgb(200, 200, 200);
    border-color: rgb(51, 51, 51);
    border-width: 1px;
}